body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#timer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.paragraph-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    max-height: 200px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: pre-wrap;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.button-group {
    text-align: center;
}

.button-group button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 20px;
    color: #919191;
    font-size: 14px;
}

#results {
    display: none;
}

#results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#results th, #results td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#results th {
    background-color: #f9f9f9;
}
